
services:

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: rag_backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./server:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - postgres


  postgres:
    image: postgres:15
    container_name: chatwithdoc_postgres
    ports:
      - "5432:5432"
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data


  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
    volumes:
      - ./qdrant_data:/qdrant/storage    

volumes:
  postgres_data:
